.contenedor-tarjetas {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr !important;
  grid-template-rows: 380px 380px 380px;
  padding-left: 60px;
}

.card {
  width: 18rem;
  border: 1px solid #ce96d0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-bottom: -177px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: tan;
}

.card img {
  width: 100%;
  height: 203px;
  border-radius: 5px;
}

.info-hora {
  font-size: 18px;
  font-family: initial;
}

.info-precio {
  font-size: 18px;
  font-family: initial;
}

.card-text {
  font-family: emoji;
}

.card-title {
  font-family: cursive;
}

.btn-primary {
  color: #fff;
  background-color: rgba(159, 127, 185, 0.7607843137);
  border-color: #773477;
}

.contenedor-tarjetas {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 380px 380px;
  padding-left: 60px;
}

.color-fondo {
  background-color: rosybrown;
  margin: 0px;
}

.banner {
  background: linear-gradient(rgba(5, 7, 12, 0.72), rgba(5, 7, 12, 0.11)), url(../img/inicio.png) center left no-repeat;
  height: 87vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 608px;
  width: 100%;
}

.boton-ingreso {
  background-color: orchid;
}

.logo {
  width: 33px;
  margin-left: -28px;
}

.texto-banner {
  color: white;
}

.card-cont {
  background-color: tan !important;
}

.card-img {
  width: 263px;
  border-radius: 10px;
  margin-right: 20px;
}

.card-text {
  min-height: 144px;
}

.tarjeta1 {
  margin-top: 16px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  opacity: 0;
  transition: opacity 0.15s linear;
  pointer-events: none;
}

.modal-backdrop.fade.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-open {
  overflow: hidden;
}

.modal-dialog {
  max-width: 400px;
  margin: 1.75rem auto;
  display: flex;
  align-items: center;
  height: 100%;
}

#miModal {
  display: none;
  overflow: hidden;
}

#closeSesion {
  display: none;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #a600ff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: beige;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

body.modal-open {
  overflow: hidden;
}

.btn-primary:hover {
  color: #fff;
  background-color: #a600ff;
}

.boton-finalizar {
  background-color: darkorchid;
  margin: 14px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: blueviolet;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-small {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-small-content {
  display: flex;
  width: 100%;
}

.card-small-image {
  margin-right: 10px;
}

.card-small-image img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-small-text {
  flex-grow: 1;
}

.card-small-title,
.card-small-info {
  margin: 0;
  font-size: 12px;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
}

.icons span {
  margin-left: 10px;
  font-size: 20px;
  margin-right: 54px;
}

.icons span:last-child {
  margin-left: 0;
}

.boton-fin {
  margin-right: 14px !important;
}

.card-small-delete {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.mini-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
}

.mini-button img {
  width: 100%;
  height: 100%;
}

.card-container .card-small {
  margin-bottom: 10px;
}

.card-container .card-small:last-child {
  margin-bottom: 0;
}

.card-container .card-small-content {
  border-bottom: 2px solid blueviolet;
}

.card-small-delete {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.delete-button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */